    /* http://paletton.com/#uid=13x0I0kfHEu5LWbaXOkjRvonQrC */
    body {
      background: rgb(103,153,191);
      background: radial-gradient(circle, rgba(103,153,191,1) 0%, rgba(68,120,161,1) 50%, rgba(43,99,142,1) 100%);
      color: white;
      text-align: center;
      font-family: "calibri";
      font-size: 1.5vw;
    }
    h1 {
      font-size: 4em;
      margin-top: 10%;
      text-decoration: underline;
    }
    #intro {
      margin-left: 15%;
      margin-right: 15%;
      font-size: 1.5em;
    }
    #navbar {
      width: 100%;
      height: 8vw;
      background: linear-gradient(to right, #95BDDB, #C9E0F1);
      font-size: 2em;
      position: fixed;
      top: -0.1vw;
      left:-0.1vw;
      text-align: right;
      z-index: 20;
    }
    #navbar a {
      position: absolute;
      text-decoration: none;
      color: white;
      top: 15%;
      border: 1px solid transparent;
      transition-duration: 0.4s;
      padding: 1vw;
    }
    #navbar a:hover {
      background-color: white;
      color: black;
      border-radius: 1.5vw;
      transition-duration: 0.6s;
    }
    .banner {
      background: linear-gradient(to left,#95BDDB, #C9E0F1);
      width: 80%;
      margin-left: 10%;
      border: 1px solid transparent;
      border-radius: 2vw;
      margin-top: 10%;
    }
    .banner > h2 {
      width: 50%;
      margin-left: 3vw;
      font-size: 2em;
      border-top: 0.5vw solid white;
      border-bottom: 0.5vw solid white;
    }
    .banner > p {
      margin-left: 3vw;
      margin-right: 3vw;
      width: 50%;
      font-size: 1.4em;
    }
    .banner > a {
      text-decoration: none;
      color: white;
      text-align: right;
      position: absolute;
      font-size: 2em;
      border: 1px solid transparent;
      transition-duration: 0.6s;
      padding: 1vw;
    }
    .banner > a:hover {
      border-radius: 2vw;
      background-color: white;
      color: black;
      text-decoration: underline;
      transition-duration: 0.6s;
    }
    .text-right > h2{
      margin-left: 38.2vw;
    }
    .text-right > p {
      margin-left: 38vw;
      margin-right: 5vw;
      width: 50%;
    }
    .left-img-link {
      float: left
    }
    .right-img-link {
      float: right;
    }
    .right-img-link , .left-img-link {
      margin: 5%;
      width: 50%;
      border: 1px solid transparent;
      border-radius: 2vw;
      cursor: pointer;
    }
    .cont-left > p, .cont-right > p {
      background: linear-gradient(to left,#95BDDB, #C9E0F1);
      font-size: 1.5em;
      position: relative;
      top: 10vw;
      padding: 2vw;
      border: 1px solid transparent;
      border-radius: 2vw;
      width: 30%;
      text-align: left;
    }
    .cont-right > p{
      float: right;
    }
    .cont-left > p {
      float: left;
    }
    h3 {
      border: 0.25vw solid white;
      margin-left: 10%;
      margin-right: 10%;
      padding: 0.5vw;
      border-radius: 1vw;
      margin-top: 5%;
    }
    iframe {
      width: 100%;
      height: 100%;
    }
    #iframecont {
      width: 100vw;
      height: 80vh;
    }
    .text-center {
      float: none;
    }
    .text-center > p, .text-center > h2 {
      width: 90%;
    }
